Qr-Code\node_modules

Qr-code\logs
Qr-code\*.log
Qr-code\npm-debug.log*
Qr-code\yarn-debug.log*
Qr-code\yarn-error.log*
Qr-code\pnpm-debug.log*
Qr-code\lerna-debug.log*
Qr-code\
Qr-code\node_modules
Qr-code\dist
Qr-code\dist-ssr
Qr-code\*.local
Qr-code\
Qr-code\# Editor directories and files
Qr-code\.vscode/*
Qr-code\!.vscode/extensions.json
Qr-code\.idea
Qr-code\.DS_Store
Qr-code\*.suo
Qr-code\*.ntvs*
Qr-code\*.njsproj
Qr-code\*.sln
Qr-code\*.sw?
